.auth-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1a18;
}

.auth-card {
  background-color: rgba(36, 36, 36, 0.5);
  background-image: linear-gradient(to bottom right, #322e2b 20%, #1b1a18);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 24rem;

  h1 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
    border-radius: 0.3rem;
    color: #989898;
    &::placeholder {
      color: #cacaca;
    }
  }

  button {
    width: 100%;
    padding: 1rem;
    background: #ff9051;
    border-radius: 0.6rem;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #ff935c;
    }
  }
}
