.page-container {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #1b1a18;
  padding: 2rem 0;
  flex-wrap: wrap;
  align-items: flex-start;
}

.results-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1a18;
  padding: 2rem 0;
}

.results-card {
  background-color: #ff9051;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 24rem;

  h3 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  p {
    color: #fff;
    font-size: 1rem;
    margin-bottom: 0;
  }
}
